.story {
  &__pictures {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-light-1, 0.8),
        rgba($color-primary, 0.8)
      ),
      url('./../img/back.jpg');
    background-size: cover;
    background-position: top;

    grid-column: full-start / col-end 4;

    @include respond(phone) {
      grid-column: sidebar-start / full-end;
    }

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  &__img--1 {
    width: 100%;

    grid-column: 2 / 6;
    grid-row: 2 / 6;
    box-shadow: 0 1rem 5rem rba(#000, 0.4);
  }

  &__img--2 {
    width: 115%;
    grid-column: 4 / 7;
    grid-row: 4 / -1;

    position: relative;
    z-index: 20;
    box-shadow: 0 1rem 5rem rba(#000, 1);

    @include respond(phone) {
      width: 100%;
    }
  }
  &__content {
    grid-column: col-start 5 / -1;

    padding: 6rem 8vw;
    align-self: center;

    @include respond(phone) {
      grid-column: full-start / full-end;
    }
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
