// .container {
//   background-color: #eee;
//   min-width: 100rem;
//   margin: 3rem auto;

//   display: grid;
//   grid-template-rows: 7rem 12rem 32rem 7rem;
//   grid-template-columns: repeat(3, 2fr) 17%;

//   gap: 7rem;

//   .item {
//     padding: 2rem;
//     font-size: 3rem;
//     font-family: sans-serif;
//     color: #fff;

//     &--1 {
//       background-color: orangered;
//       grid-row: 1 / 2;
//       grid-column: 1 / -1;
//     }

//     &--2 {
//       background-color: green;
//     }
//     &--3 {
//       background-color: violet;
//     }
//     &--4 {
//       background-color: pink;
//     }
//     &--5 {
//       background-color: blue;
//       grid-row: 2 / 4;
//       grid-column: 4 / -1;
//     }
//     &--6 {
//       background-color: brown;

//       grid-row: 3 / 4;
//       grid-column: 1 / span 3;
//     }
//     &--7 {
//       background-color: yellowgreen;
//       grid-column: 1/ -1;
//     }
//   }
// }

// .container {
//   background-color: #eee;
//   min-width: 100rem;
//   margin: 3rem auto;

//   display: grid;
//   grid-template-rows: 7rem 12rem 32rem 7rem;
//   grid-template-columns: repeat(3, 2fr) 17%;
//   grid-template-areas:
//     'head head head head'
//     'box1 box2 box3 side'
//     'main main main side'
//     'foot foot foot foot';

//   gap: 7rem;

//   .item {
//     padding: 2rem;
//     font-size: 3rem;
//     font-family: sans-serif;
//     color: #fff;

//     &--1 {
//       background-color: orangered;
//       grid-area: head;
//     }

//     &--2 {
//       background-color: green;
//       grid-area: box1;
//     }
//     &--3 {
//       background-color: violet;
//       grid-area: box2;
//     }
//     &--4 {
//       background-color: pink;
//       grid-area: box3;
//     }
//     &--5 {
//       background-color: blue;
//       grid-area: side;
//     }
//     &--6 {
//       background-color: brown;
//       grid-area: main;
//     }
//     &--7 {
//       background-color: yellowgreen;
//       grid-area: foot;
//     }
//   }
// }

.container {
  width: 80%;
  margin: 30px auto;
  background-color: #ddd;

  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  grid-auto-rows: 80px;
  grid-auto-columns: 0.5fr;
  grid-auto-flow: row;

  .item {
    padding: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    background-color: orangered;

    &--4 {
      background-color: yellowgreen;
      grid-row: 2 / span 3;
    }

    &--7 {
      background-color: coral;
      grid-column: 1 / -1;
    }
  }
}
